<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cx.ath.laghaim.waxprivacy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>

/*

    echo "# WAXprivacy" >> README.md
    git init
    git add README.md
    git commit -m "first commit"
    git remote add origin https://github.com/WarManiac/WAXprivacy.git
    git push -u origin master
*/